body{
    margin:0;
    font-family:Arial;
    background-color:#f2f2f2;
    text-align:center;
}

h1{
    color:darkblue;
    font-size:50px;
}

h2{
    color:green;
}


button{
    background-color:rgb(90, 90, 68);
    color:white;
    padding:15px 30px;
    border:none;
    border-radius:10px;
    font-size:20px;
}
img{
    display:block;
    margin:20px auto;
}
hr{
    width:80%;
    margin-top:50px;
}

p{
    width:70%;
    margin:auto;
    margin-top:20px;
    font-size:24px;
}

.hero p{
    font-size: 25px;
}


button:hover{
    background-color: rgb(169, 104, 143);
    transform: scale(1.3);
    transition: 0.3s;
    cursor: pointer;
}
.darkbtn{
    background-color: rgb(138, 37, 108);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
}

.bgbtn{
    background-color: rgb(172, 79, 17);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
}
input, textarea{

    width:60%;
    padding:15px;
    font-size:20px;
    border-radius:10px;
    border:2px solid gray;

}

.sendbtn{

    background-color:purple;
    color:white;
    padding:15px 30px;
    border:none;
    border-radius:10px;

}
@media (max-width: 768px){

    h1{
        font-size:25px;
    }

    h2{
        font-size:25px;
    }

    p{
        font-size:18px;
        width:90%;
    }

    img{
        width:90%;
    }

    input,
    textarea{
        width:90%;
    }

}

.backbtn{
    background-color: rgb(46, 46, 54);
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
}
.contactlink{
    background-color: rgb(46, 46, 121);
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
}
.container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.car{
    width: 300px;
    background-color: rgb(255, 245, 245);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px gray;
    transition: transform 0.3s;
}
.car:hover{
    transform: scale(1.08);
    box-shadow: 0px 15px 30px gray;
    z-index: 10;
}
.buybtn{
    background-color: green;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
}

.buybtn:hover{
    background-color: darkgreen;
    cursor: pointer;
}
.bmwm4btn{
    background-color: rgb(7, 7, 14);
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
}
.ferraribtn{
    background-color: rgb(221, 18, 18);
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
}
.mercedesbtn{
    background-color: rgb(231, 213, 213);
    color: rgb(153, 17, 17);
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}
.bmwm5btn{
    background-color: rgb(4, 4, 19);
    color: rgb(223, 178, 178);
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
}
input{
    width:300px;
    padding:12px;
    font-size:18px;
    border-radius:10px;
    border:2px solid gray;
    margin:20px;
}
nav{
    background: linear-gradient(to right, blue, purple, pink);
    padding:20px;

    position:sticky;
    top:0;
    z-index: 1000;
}

nav a{
    color:white;
    text-decoration:none;
    margin:20px;
    font-size:22px;
}

nav a:hover{
    color:rgb(158, 125, 48);
}

.hero{
    background:
    linear-gradient(rgba(255, 255, 255, 0.234),
    rgba(255, 255, 255, 0.234)),
    url("hero-car.jpg");

    background-size: cover;
    background-position: center;
    color: white;
    padding: 150px 20px;


    animation: fadein 5s;
}
.hero h1{
    font-size:80px;
    text-shadow: 3px 3px 10px black;
}

.hero p{
    font-size:60px;
    text-shadow: 2px 2px 8px black;
}
.explorebtn{
    background-color: rgb(4, 65, 40);
    color: rgb(254, 253, 253);
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    margin-top:60px;
}
.stats{
    display:flex;
    justify-content:center;
    gap:50px;
    padding:50px;
}

.stat{
    background:rgba(165, 39, 39, 0.557);
    padding:20px;
    border-radius:15px;
    width:200px;
    box-shadow:0px 0px 10px gray;
    animation: fadeIn 2s;
}

@keyframes fadeIn{

    from{
        opacity:0;
    }

    to{
        opacity:1;
    }

}
.featured{
    padding:50px;
    background-color:white;
    margin:50px;
    border-radius:20px;
    box-shadow:0px 0px 15px gray;
}

.featured img{
    border-radius:15px;
}
.slider{
    width:100%;
    overflow:hidden;
}

.slider img{
    width:100%;
    height:900px;
    object-fit:cover;
    object-position:center;
    opacity:1;
    transition:opacity 1s ease-in-out;
}